#container{
    width: 240px;
    height: 450px;
    padding: 10px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row{
    display: flex;
    align-items: center;
    gap: 3px;
}

.first.row .key{
    border-radius: 32px;
    
}

.screen{
    height: 60px;
    font-size: 62px;
}

.key{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 0;
    background-color: darkcyan;
}
.sign{
    margin-left: auto;
}
.keys{
    display: flex;
    flex-direction: column;
    gap:4px;
}