#container{
    width: 240px;
    height: 400px;
    padding: 10px;
    border: 4px solid rgba(46, 139, 86, 0.466);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightcyan;
}
.row{
    display: flex;
    align-items: center;
    gap: 3px;
}

.first.row .key{
    border-radius: 300px;
    padding: 10px;
    max-width: 50px;
}

.screen{
    height: 60px;
    font-size: 62px;
    border: 4px solid rgba(46, 139, 86, 0.466);
    padding-bottom: 8px;
    padding-left: 5px;
    color: lightseagreen;
}

.key{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 0;
    background-color: lightseagreen;
    font-size: larger;

}
.sign{
    margin-left: auto;
    font-size: 18px;
    color:lightseagreen;
    font-weight: 1000;

}
.keys{
    display: flex;
    flex-direction: column;
    gap:4px;
}
.key:hover{
        background-color: rgba(32, 178, 171, 0.664);

}
.key:active{
        background-color: rgba(32, 178, 171, 0.39);

}